<%- include('partials/header') -%>

<style>
    .itinerary {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .itinerary h2 {
        margin-top: 0;
    }

    .itinerary .day {
        margin-bottom: 10px;
        display: none; /* Hide the days by default */
    }

    .itinerary .day .stop {
        margin-left: 20px;
    }

    .itinerary .day .stop {
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .itinerary {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .itinerary .day {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        display: none; /* Hide the days by default */
    }

    .itinerary .day .stop {
        border: 1px solid #bbb;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
    }

    .toggle {
        padding: 10px 20px; /* Increase the size of the button */
        color: white; /* Text color */
        border: none; /* Remove default border */
        cursor: pointer; /* Change cursor to pointer */
        transition: background-color 0.3s ease; /* Smooth transition */
    }

    .toggle.open {
        background-color: red; /* Red when open */
    }

    .toggle.closed {
        background-color: green; /* Green when closed */
    }

    .itinerary .day {
        display: none; /* Hide the days by default */
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh; /* Adjust this value as needed */
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
        box-sizing: border-box; /* Include padding and border in element's total width and height */
    }

    form {
        border: 2px solid #000; /* Add a 2px solid black border */
        padding: 10px; /* Add some padding inside the border */
        margin-bottom: 20px;
    }

</style>

<h1>Global Itineraries</h1>

<div class="form-container">
    <form action="/searchItineraries">
        <label>
            <input type="text" name="state" placeholder="Search by state">
        </label>
        <label>
            <input type="text" name="name" placeholder="Search by name">
        </label>
        <label>
            <input type="text" name="duration" placeholder="Search by duration">
        </label>
    </form>
</div>

<div id="itineraries"></div>
<div id="itineraryInfo"></div>



<script>
    // Get the input fields
    const stateInput = document.querySelector('input[name="state"]');
    const nameInput = document.querySelector('input[name="name"]');
    const durationInput = document.querySelector('input[name="duration"]');

    // Function to handle search
    async function handleSearch() {
        const state = stateInput.value;
        const name = nameInput.value;
        const duration = durationInput.value;

        const response = await fetch(`/api/searchItineraries?state=${state}&name=${name}&duration=${duration}`);
        const itineraries = await response.json();

        // Clear the current itineraries
        const itinerariesDiv = document.getElementById('itineraries');
        itinerariesDiv.innerHTML = '';

        // Add the new itineraries
        itineraries.forEach(itinerary => {
            const itineraryDiv = createItineraryDiv(itinerary);
            itinerariesDiv.appendChild(itineraryDiv);
            addToggleEventListener(itineraryDiv);
            const id = itinerary._id;
            fetch(`/api/totalPath?idItinerario=${id}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById(`totalPath${id}`).innerHTML = `Kilometri totali: ${(data) / 1000} km`; // Update this line
                }).catch(error => {
                console.error('Error:', error);
            });

            fetch(`/api/calcTimeItinerary?idItinerario=${id}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById(`totalTime${id}`).innerHTML = `Tempo totale: ${(data / 3600).toFixed(1)} ore`; // Update this line
                }).catch(error => {
                console.error('Error:', error);
            });
        });
    }

    // Add event listeners to the input fields
    stateInput.addEventListener('input', handleSearch);
    nameInput.addEventListener('input', handleSearch);
    durationInput.addEventListener('input', handleSearch);

    async function fetchItineraries() {
        try {
            const response = await fetch('/api/searchItineraries', {
                headers: {
                    'Content-Type': 'application/json',
                    'userId': '65ae9a60b1c0d0c8c09cc34b'
                }
            });
            if (!response.ok) {
                //throw new Error(`HTTP error! status: ${response.status}`);
                console.error(`HTTP error! status: ${response.status}`);
                console.error(response);
                return;
            }
            const itineraries = await response.json();
            return itineraries;
        } catch (error) {
            console.error('Error:', error);
        }
    }



    function createItineraryDiv(itinerary) {
        const itineraryDiv = document.createElement('div');
        itineraryDiv.className = 'itinerary';

        const randomId = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
        const button = `<button name=${randomId} class="toggle closed">Toggle Days</button>`
        const totalPathDiv = `<div id="totalPath${itinerary._id}"></div>`
        const totalTimeDiv = `<div id="totalTime${itinerary._id}"></div>`
        itineraryDiv.innerHTML = `
    <h2>${itinerary.nome}</h2>
    <p>${itinerary.descrizione}</p>
    <p>Number of days: ${itinerary.giorni.length}</p>
    <p>State: ${itinerary.stato}</p> <!-- Add this line -->
    ${button}
    ${totalPathDiv}
    ${totalTimeDiv}
    ${itinerary.giorni.map(createDayDiv).join('')}
`;
        //press button to toggle days (not event listener)

        return itineraryDiv;
    }

    function createDayDiv(day) {
        let tappe = "";
        try {
            tappe = day.tappe.map(createStopDiv).join('');
        } catch (e) {

        }
        return `
    <div class="day">
        <h3>Day: ${day.descrizione}</h3>
        ${tappe}
    </div>
    `;
    }

    function createStopDiv(stop, index) {
        const ristori = Array.isArray(stop.ristori) ? stop.ristori.join(', ') : stop.ristori;
        const alloggi = Array.isArray(stop.alloggi) ? stop.alloggi.join(', ') : stop.alloggi;
        return `
        <div class="stop">
            <h4>Tappa ${index + 1}</h4>
            <p>Descrizione: ${stop.descrizione}</p>
            <p>Location: ${stop.luogo}</p>
            <p>Ristori: ${ristori}</p>
            <p>Alloggi: ${alloggi}</p>
        </div>
    `;
    }

    fetchItineraries().then(itineraries => {
        const itinerariesDiv = document.getElementById('itineraries');
        itineraries.forEach(itinerary => {
            const itineraryDiv = createItineraryDiv(itinerary);
            itinerariesDiv.appendChild(itineraryDiv);
            addToggleEventListener(itineraryDiv); // Add this line

            // Assuming you have the necessary parameters for the fetch requests
            document.getElementById(`totalPath${itinerary._id}`).innerHTML = `Kilometri totali:`;
            document.getElementById(`totalTime${itinerary._id}`).innerHTML = `Tempo totale:`;

            // Assuming you have the necessary parameters for the fetch requests
            const id = itinerary._id;
            fetch(`/api/totalPath?idItinerario=${id}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById(`totalPath${id}`).innerHTML = `Kilometri totali: ${(data) / 1000} km`; // Update this line
                }).catch(error => {
                console.error('Error:', error);
            });

            fetch(`/api/calcTimeItinerary?idItinerario=${id}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById(`totalTime${id}`).innerHTML = `Tempo totale: ${(data / 3600).toFixed(1)} ore`; // Update this line
                }).catch(error => {
                console.error('Error:', error);
            });
        });
    });

    function addToggleEventListener(itineraryDiv) {
        const toggleButton = itineraryDiv.querySelector('.toggle');
        toggleButton.classList.remove('open');
        toggleButton.classList.add('closed');
        toggleButton.addEventListener('click', () => {
            const days = itineraryDiv.querySelectorAll('.day');
            days.forEach(day => {
                if (!day.style.display || day.style.display === 'none') {
                    day.style.display = 'block';
                    toggleButton.classList.remove('closed');
                    toggleButton.classList.add('open');
                } else {
                    day.style.display = 'none';
                    toggleButton.classList.remove('open');
                    toggleButton.classList.add('closed');
                }
            });
        });
    }
</script>